* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  padding: 20px 0;
  text-align: center;
  background-color: #282c34;
  /* background-color: #2c2e39; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
}

li {
  list-style-type: none;
}

.low-cal-desserts {
  color: #333333;
  /* color: #282c34; */
  /* background-color: #f5f5f5; */
  background-color: whitesmoke;
  /* background-color: #ffd700; contrast gold */
  padding: 10px 20px;
  width: 100%;
}

.btn {
  background-color: #61fbd2;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin: 10px;
  font-weight: bold;
  color: #282c34;
}
.btn:hover {
  background-color: rgb(83, 212, 191);
  transition: ease-in-out 0.3s;
  color: #282c34;
  font-style: bold;
}

.btn:active {
  background-color: #58fff1;
  transform: scale(0.95);
}
