:root {
  --c1: #61fbd2;
  --c2: #db70ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  padding: 20px 0;
  text-align: center;
  background-color: #282c34;
  /* background-color: #2c2e39; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  gap: 20px;
}

li {
  list-style-type: none;
}

.section {
  color: #333333;
  /* color: #282c34; */
  /* background-color: #f5f5f5; */
  background-color: whitesmoke;
  /* background-color: #ffd700; contrast gold */
  padding: 10px 20px;
  width: 100%;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.btn {
  background: linear-gradient(270deg, #61fbd2, #db70ff);
  background-size: 200% 200%;
  background-position: left center;
  border: none;
  padding: 10px 20px;
  border-radius: 15px;
  cursor: pointer;
  font-size: 16px;
  margin: 10px;
  font-weight: bold;
  color: #282c34;
  transition: background-position 0.3s ease-in-out, color 0.3s ease-in-out;
}

.btn:hover {
  background-position: right center; /* 👈 smoothly shifts */
  color: rgb(72, 72, 72); /* text fades smoothly */
}

.btn:active {
  /* background-color: #58fff1; */
  background: linear-gradient(270deg, #61fbd2, #db70ff);
  transform: scale(0.95);
}
